body{
  margin:0;
  font-family:Inter,Arial;
  background:#0f172a;
  color:#e2e8f0;
}

.topbar{
  background:linear-gradient(135deg,#1e293b,#020617);
  padding:28px;
  text-align:center;
  border-bottom:1px solid #334155;
}

.container{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
}

.card{
  background:#1e293b;
  border-radius:16px;
  padding:28px;
  margin-bottom:28px;
}

.searchRow{
  display:flex;
  gap:14px;
  margin-top:14px;
}

.searchRow input{
  flex:1;
  padding:14px;
  border-radius:10px;
  border:1px solid #334155;
  background:#020617;
  color:white;
  font-size:15px;
}

.searchRow button{
  padding:14px 22px;
  border-radius:10px;
  background:#3b82f6;
  border:none;
  color:white;
  font-weight:600;
}

.profile-header{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  gap:16px;
}

.profile-name{
  font-size:28px;
  font-weight:700;
}

.profile-actions{
  display:flex;
  gap:14px;
}

.profile-actions button{
  padding:10px 20px;
  border-radius:10px;
  background:#2563eb;
  border:none;
  color:white;
  font-weight:600;
}

.doc-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:18px;
}

.docCard{
  background:#1e293b;
  border:1px solid #334155;
  border-radius:14px;
  padding:18px;
}

.docHeader{
  display:flex;
  justify-content:space-between;
  margin-bottom:12px;
}

.statusBadge{
  font-size:12px;
  padding:4px 10px;
  border-radius:20px;
}

.pending{background:#1f2937;color:#fbbf24;}
.done{background:#064e3b;color:#34d399;}

.uploadBox{
  border:2px dashed #334155;
  border-radius:12px;
  padding:16px;
  cursor:pointer;
}

.uploadBox input{display:none;}

.expDate{
  width:100%;
  margin-bottom:12px;
  padding:10px;
  border-radius:10px;
  background:#020617;
  border:1px solid #334155;
  color:white;
}

.submit{
  width:100%;
  margin-top:26px;
  padding:16px;
  border-radius:12px;
  background:#3b82f6;
  border:none;
  color:white;
  font-weight:600;
}

.progress-wrapper{
  height:10px;
  background:#020617;
  border-radius:20px;
  margin:16px 0;
}

.progress-bar{
  height:10px;
  background:#22c55e;
  width:0%;
}

.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#1e293b;
  padding:24px;
  border-radius:14px;
}
